---
import MarketplacePage from '../components/MarketplacePage.astro';
---
<MarketplacePage title="1-Click Apps Marketplace" category="">
  <div class="mb-8">
    <h2 class="text-2xl font-bold mb-4">See How Easy It Is</h2>
    <p class="mb-4">Watch this quick demo of our 1-Click Apps in action:</p>
    <div class="w-[560px] h-[315px]">
        <iframe style="width: 560px; height: 315px;" src="https://www.youtube.com/embed/2u-o20JsX1Q?si=oAM2RmGFPUvEi9Br" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</MarketplacePage>
