---

---

<div class="flex items-center whitespace-nowrap gap-4">
    <div class="flex items-center whitespace-nowrap gap-4 border-r-2 pl-4 pr-8">
        <a href="/introduction/" class="no-underline">Documentation</a>
        <a href="/case-studies/" class="no-underline">Case Studies</a>
    </div>
    <a href="https://ctl.ptah.sh/login" class="px-4 no-underline">Log In</a>
    <a
        href="https://ctl.ptah.sh/register"
        class="no-underline font-extrabold text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 rounded-lg text-sm px-8 py-2.5 inline-flex justify-center w-full text-center"
        >Sign Up</a
    >
</div>
