---
const { handle, name, class: className } = Astro.props;

import { Icon } from "@astrojs/starlight/components";
---

<div class:list={[
    "gap-1 inline-flex items-baseline",
    className
]}>
    <Icon name="twitter" class="text-blue-400" />
    <a href={"https://x.com/" + handle} rel="nofollow" target="_blank">{name}</a
    >
</div>
